{% load static %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'photaChristianity/css/intro.css' %}" />
<link rel="stylesheet" href="{% static 'photaHome/css/subpage.css' %}" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$$','$$'], ['\\(','\\)']]}});
</script>
{% endaddtoblock %}

<!-- Get Unicode from http://unicode-search.net/unicode-namesearch.pl?term=INTEGRAL -->

<!-- ADD YOUR TABLE-OF-CONTENTS HERE -->
<div class="scrollFrame valign-wrapper">
  <div class="TOC col hide-on-small-only m3 l2">
    <ul class="section table-of-contents">
      <li><a href="#relevance">Relevance?</a></li>
      <li><a href="#evidence">Evidence</a></li>
      <li><a href="#jesus">Jesus</a></li>
      <li><a href="#mystory">My Story</a></li>
      <li><a href="#church">Church</a></li>
    </ul>
  </div>
</div>

<!-- ADD YOUR CONTENT HERE -->
<div class="MAT scrollFrame">
  <div class="row fullwidthImage section" id="top">
    <img src="{% static 'photaChristianity/img/crowd_streets_bw.jpg' %}" />
    <div class="row imgOverlay toc-icons">
      <div class="col l2 m1 s0"></div>
      <div class="col l8 m10 s12">
        <div class="row">
          <div class="col m5ths s6 relevance">
            <a href="#relevance">
              <div class="row aspectIcon">
                <i class="fa fa-bolt"></i>
              </div>
              <div class="row aspectTitle">
                Relevance?
              </div>
            </a>
          </div>
          <div class="col m5ths s6 evidence">
            <a href="#evidence">
              <div class="row aspectIcon">
                <i class="fa fa-binoculars"></i>
              </div>
              <div class="row aspectTitle">
                Evidence
              </div>
            </a>
          </div>
          <div class="col m5ths s12 jesus">
            <a href=#jesus>
              <div class="row aspectIcon">
                <i class="fa fa-crown"></i>
              </div>
              <div class="row aspectTitle">
                Jesus
              </div>
            </a>
          </div>
          <div class="col m5ths s6 mystory">
            <a href="#mystory">
              <div class="row aspectIcon">
                <i class="fa fa-male"></i>
              </div>
              <div class="row aspectTitle">
                My Story
              </div>
            </a>
          </div>
          <div class="col m5ths s6 church">
            <a href="#church">
              <div class="row aspectIcon">
                <i class="fa fa-church"></i>
              </div>
              <div class="row aspectTitle">
                Church
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col l2 m1 s0"></div>
    </div>
  </div>
  <div class="row section" id="relevance">
    <div class="row title">
      <div class="col s6 offset-s1">
        <h2>Relevance?</h2>
      </div>
    </div>
    <div class="row randPaddingBlock">

    </div>
  </div>
  <div class="row section" id="evidence">
    <div class="row title">
      <div class="col s6 offset-s1">
        <h2>Evidence</h2>
      </div>
    </div>
    <div class="row randPaddingBlock">

    </div>
  </div>
  <div class="row section" id="jesus">
    <div class="row title">
      <div class="col s6 offset-s1">
        <h2>Jesus</h2>
      </div>
    </div>
    <div class="row randPaddingBlock">
    </div>
  </div>
  <div class="row section" id="mystory">
    <div class="row title">
      <div class="col s6 offset-s1">
        <h2>My Story</h2>
      </div>
    </div>
    <div class="row randPaddingBlock">
    </div>
  </div>
  <div class="row section" id="church">
    <div class="row title">
      <div class="col s6 offset-s1">
        <h2>Church</h2>
      </div>
    </div>
    <div class="row randPaddingBlock">
    </div>
  </div>
</div>

{% addtoblock 'js' %}
<script type="text/javascript">
  $(document).ready(function(){
    var sectionObjs = [];
    var offsetMenubarHeight = $('.links').height() + 2;

    //Setup table of contents navigation.
    $('.table-of-contents a').each(function(i, obj) {
      sectionObjs.push(obj);
    })
    .click(function(e){
      e.preventDefault();
      scrollTillTopOpts(($(this).attr('href')),'.MAT', offsetMenubarHeight ,400);
    });

    $('.toc-icons a').click(function(e){
      e.preventDefault();
      scrollTillTopOpts(($(this).attr('href')),'.MAT', offsetMenubarHeight ,400);
    });

    //Setup table of contents dynamic updating with scrolling.
    $('.MAT').scroll(function(e) {

      var found = false;
      for (var k=0; k < sectionObjs.length; k++) {
        if (!found && isScrolledIntoViewOpts($(sectionObjs[k]).attr('href'),offsetMenubarHeight,0)) {
          $(sectionObjs[k]).addClass('active');
          found = true;
        } else {
          $(sectionObjs[k]).removeClass('active');
        }
      }
    });

    //Trigger initial scroll event
    $('.MAT').scroll();
  });
</script>

{% endaddtoblock%}
