{% load static %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'photaChristianity/css/intro.css' %}" />
<link rel="stylesheet" href="{% static 'photaHome/css/subpage.css' %}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% endaddtoblock %}


<!-- ADD YOUR TABLE-OF-CONTENTS HERE -->
<div class="scrollFrame valign-wrapper">
  <div class="TOC col hide-on-small-only m3 l2">
    <ul class="section table-of-contents">
      <li><a href="#relevance">Relevance?</a></li>
      <li><a href="#evidence">Evidence</a></li>
      <li><a href="#jesus">Jesus</a></li>
      <li><a href="#mystory">My Story</a></li>
      <li><a href="#church">Church</a></li>
    </ul>
  </div>
</div>

<!-- ADD YOUR CONTENT HERE -->
<div class="MAT scrollFrame">
  <div class="row fullwidthImage section" id="top">
    <img src="{% static 'photaChristianity/img/crowd_streets_bw.jpg' %}" />
    <div class="row imgOverlay toc-icons">
      <div class="col l2 m1 s0"></div>
      <div class="col l8 m10 s12">
        <div class="row">
          <div class="col m5ths s6 relevance">
            <a href="#relevance">
              <div class="row aspectIcon">
                <i class="fa fa-bolt"></i>
              </div>
              <div class="row aspectTitle">
                Relevance?
              </div>
            </a>
          </div>
          <div class="col m5ths s6 evidence">
            <a href="#evidence">
              <div class="row aspectIcon">
                <i class="fa fa-binoculars"></i>
              </div>
              <div class="row aspectTitle">
                Evidence
              </div>
            </a>
          </div>
          <div class="col m5ths s12 jesus">
            <a href=#jesus>
              <div class="row aspectIcon">
                <i class="fa fa-crown"></i>
              </div>
              <div class="row aspectTitle">
                Jesus
              </div>
            </a>
          </div>
          <div class="col m5ths s6 mystory">
            <a href="#mystory">
              <div class="row aspectIcon">
                <i class="fa fa-male"></i>
              </div>
              <div class="row aspectTitle">
                My Story
              </div>
            </a>
          </div>
          <div class="col m5ths s6 church">
            <a href="#church">
              <div class="row aspectIcon">
                <i class="fa fa-church"></i>
              </div>
              <div class="row aspectTitle">
                Church
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col l2 m1 s0"></div>
    </div>
  </div>
  <div class="row section " id="relevance">
    <div class="row title">
      <div class="col s6 offset-s1">
        <h2>Relevance?</h2>
      </div>
    </div>
    <div class="row sec-info">
      <div class="row para">
        <div class="col l10 s12 offset-l1">
          <h3>Have you ever considered the life of Jesus? I think it’s profoundly relevant to you, and for a number of reasons.</h3>
        </div>
      </div>
      <div class="row para">
        <div class="row flexy">
          <div class="col l2 m4 s6 offset-l1 imgTxtContainer">
            <img src="{% static 'photaChristianity/img/relevance/lens.jpg' %}" />
            <span>No matter what has been done or is part of your past, present and future, Jesus unconditionally accepts all who come to him with love. This includes you.</span>
          </div>
          <div class="col l2 m4 s6 imgTxtContainer">
            <img src="{% static 'photaChristianity/img/relevance/lens.jpg' %}" />
            <span>Jesus cares about your heart. He does not judge based on "works", achievements or success. In our busy, success driven culture, this is incredibly relevant.</span>
          </div>
          <div class="col l2 m4 s6 imgTxtContainer">
            <img src="{% static 'photaChristianity/img/relevance/lens.jpg' %}" />
            <span>Understanding who Jesus is will help you understand yourself, as you grapple with Jesus’ interactions with other people, and reflect yourself.</span>
          </div>
          <div class="col l2 m4 s6 imgTxtContainer">
            <img src="{% static 'photaChristianity/img/relevance/lens.jpg' %}" />
            <span>Jesus claims to be God, not "up in the clouds" but here on earth, someone who you can study and get to know.</span>
          </div>
          <div class="col l2 m4 s6 imgTxtContainer">
            <img src="{% static 'photaChristianity/img/relevance/lens.jpg' %}" />
            <span>Some people desire a safe place to practise spirituality & mindfulness. Jesus recognises spiritual needs, incorperated prayer regularly, and had a connection to nature.</span>
          </div>
          <div class="col l1"></div>
          <div class="col l2 m4 s6 offset-l1 imgTxtContainer">
            <img src="{% static 'photaChristianity/img/relevance/lens.jpg' %}" />
            <span>Jesus provides a good framework for making life decisions.</span>
          </div>
          <div class="col l2 m4 s6 imgTxtContainer">
            <img src="{% static 'photaChristianity/img/relevance/lens.jpg' %}" />
            <span>Jesus leads the way in physical resurrection; an end to death and suffering.</span>
          </div>
          <div class="col l2 m4 s6 imgTxtContainer">
            <img src="{% static 'photaChristianity/img/relevance/lens.jpg' %}" />
            <span>Sacrifice, at the cross, is at the heart of Jesus' life. Taking responsibility, giving something up for the sake of good is something you should also be motivated to do. </span>
          </div>
          <div class="col l7"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row section" id="evidence">
    <div class="row title">
      <div class="col s6 offset-s1">
        <h2>Evidence</h2>
      </div>
    </div>
    <div class="row svgContainer">
      <div class="buttons">
        <button name="evidenceBtnExpand" type="button" value="Expand all" onclick="expandNodes()">Expand all</button>
        <button name="evidenceBtnCollapse" type="button" value="Collapse all" onclick="collapseNodes()">Collapse all</button>
      </div>
      <!-- <input style="width:240px;" type="range" min="0" max="1" step="any" value="0.5"> -->
      <svg id="evidenceSvg">
      </svg>
    </div>
    <div class="row textBody">
      <div class="divider"></div>
      <div class="row">
        <h5>Historical evidence</h5>
        <div class="col m6">
          <h6 id="The-gospels-describing-Jesus">The gospels describing Jesus</h6>
          <p></p>
          <h6 id="Non-christian-sources">Non-christian sources</h6>
          <p></p>
          <h6 id="The-biblical-narative">The biblical narative</h6>
          <p></p>
          <h6 id="Acts-of-Jesus'-followers">Acts of Jesus' followers</h6>
          <p></p>
        </div>
        <div class="col m6">
          <img src="{% static "photaChristianity/img/deadseascrollcave.jpg" %}"/>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <h5>Arguments for God</h5>
        <div class="col m6">
          <div class="row">
            <div class="col m6"><img src="{% static "photaChristianity/img/deadseascrollcave.jpg" %}"/></div>
            <div class="col m6"><img src="{% static "photaChristianity/img/deadseascrollcave.jpg" %}"/></div>
          </div>
          <div class="row">
            <div class="col m6"><img src="{% static "photaChristianity/img/deadseascrollcave.jpg" %}"/></div>
            <div class="col m6"><img src="{% static "photaChristianity/img/deadseascrollcave.jpg" %}"/></div>
          </div>
        </div>
        <div class="col m6">
          <h6 id="Cosmological-argument">Cosmological argument</h6>
          <p></p>
          <h6 id="Universal-moral-law">Universal moral law</h6>
          <p></p>
          <h6 id="Comprehensible-universe">Comprehensible universe</h6>
          <p id="Mathematics">Mathematics</p>
          <h6 id="Human-conciousness">Human conciousness</h6>
          <p></p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <h5>FAQ</h5>
        <div class="col m6">
          <h6 id="Evolution-&-creation">Evolution & creation</h6>
          <p></p>
          <h6 id="Biblical-integrity">Biblical integrity</h6>
          <p></p>
        </div>
        <div class="col m6">

        </div>
      </div>
      <div class="divider"></div>
    </div>
  </div>
  <div class="row section" id="jesus">
    <div class="row title">
      <div class="col s6 offset-s1">
        <h2>Jesus</h2>
      </div>
    </div>
    <div class="row randPaddingBlock">
    </div>
  </div>
  <div class="row section" id="mystory">
    <div class="row title">
      <div class="col s6 offset-s1">
        <h2>My Story</h2>
      </div>
    </div>
    <div class="row randPaddingBlock">
    </div>
  </div>
  <div class="row section" id="church">
    <div class="row title">
      <div class="col s6 offset-s1">
        <h2>Church</h2>
      </div>
    </div>
    <div class="row randPaddingBlock">
    </div>
  </div>
</div>

{% addtoblock "js" %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$$','$$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript">
  jsonfile = "{% static 'photaChristianity/json/intro-evidence-d3.json' %}";
</script>

<script type="text/javascript">
  $(document).ready(function(){
    var sectionObjs = [];
    var offsetMenubarHeight = $('.links').height() + 2;

    //Setup table of contents navigation.
    $('.table-of-contents a').each(function(i, obj) {
      sectionObjs.push(obj); //Add all table of contents objects to a list.
    })
    .click(function(e){ //For each object bind a click functionality.
      e.preventDefault();
      scrollTillTopOpts(($(this).attr('href')),'.MAT', offsetMenubarHeight ,400);
    });

    $('.toc-icons a').click(function(e){ //Do the same for the table of contents icons.
      e.preventDefault();
      scrollTillTopOpts(($(this).attr('href')),'.MAT', offsetMenubarHeight ,400);
    });

    //Setup table of contents dynamic updating with scrolling.
    $('.MAT').scroll(function(e) {
      var found = false;
      for (var k=0; k < sectionObjs.length; k++) {
        if (!found && isScrolledIntoViewOpts($(sectionObjs[k]).attr('href'),offsetMenubarHeight,0)) {
          $(sectionObjs[k]).addClass('active');
          found = true;
        } else {
          $(sectionObjs[k]).removeClass('active');
        }
      }
      // alert(isScrolledIntoViewOpts($(sectionObjs[0]).attr('href'),offsetMenubarHeight,0));
    });

    //Trigger initial scroll event
    $('.MAT').scroll();
  });
</script>

<script src="{% static 'photaChristianity/js/intro-evidence-d3.js' %}"></script>
{% endaddtoblock%}
