.content {
  display: block;
}

.col-md-2.events {
  /*padding-top: 5px;*/
  border-right: 2px solid white;
  /*border-bottom: 1px solid #77EEEE;*/
  display: block;
  padding-left: 0;
  padding-right: 0;
}

.col-md-2 div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.col-md-10#event_page {
  display: inline-block;
  /*bottom: 0;*/
  /*bottom:0;*/
  /*margin:0;*/
}

.row.event_post {
  color: white;
}

.viewport{
  display:inline-block;; /*Necessary to allow 100% height use*/
  position:relative;
  opacity:1;
  padding: 0px;
  /*width: 100%;*/
  height: 100%;
  bottom: 0;
}

.account {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  color: white;
  vertical-align: middle;
  border-bottom: 2pt solid white;
}

.account .buffer {
  height:5px;
}

.account .info {
  display: table;
  width: 100%;
  /*border: 1px solid #77EEEE;*/
  background-color: rgb(52, 85, 119);
}

.account a{
  text-align: right;
}

.account #inbtn {

}

.account #outbtn {

}
