body {
  margin:0;
  overflow-x: hidden;
  /*background: #000010;*/
}

.row {
  margin:0;
  margin-left:0;
  margin-right:0;
}

/*TODO: Controversal, should I keep this or not??*/
* {
  white-space: nowrap;
}
/*-------------------------------------------------------------------------*/
/*--------------------------- FOREGROUND ELEMENTS -------------------------*/
/*-------------------------------------------------------------------------*/

.information {
  width: 100%;
  height: 100%;
  display:block;
  position:fixed;
  overflow-x:hidden;
  overflow-y:hidden;
  margin:0 auto;
  z-index:2;
}

.space {
  height: 25%;
  width:100%;
  margin:0;
}
.space2 {
  height: 10%;
  width:100%;
  margin:0;
}

/*--------------------------- Introduction Elements -----------------------*/

.nameplate {
  width:100%;
  margin:0;
}

.nameplate h1 {
  font-family: 'Electrolize', sans-serif, bold;
  letter-spacing: 5px;
  font-weight:bolder;
  font-size: 80px;
  line-height: 50px;
  color: #FFFFFF
}

.nameplate h2 {
  font-size: 30px;
  line-height: 20px;
  color: #888888;
  font-family: 'Josefin Slab', serif;
}

.links {
  width:100%;
  margin:0;
}

.links .linkbar{
  padding:0px
}

.links span {
  padding-right: 80px;
  font-size: 22px;
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
  transition:0.5s;
}

.links i {
  padding-right: 10px;
  color: #77EEEE;
  transition:0.5s;
}

.links .subpagelink {
  background-color:none;
  display: block;
  transition:0.5s;
}
.links .subpagelink:hover span {
  color: #114455;
}
.links .subpagelink:hover i {
  color: #114455;
}

.links .subpagelink:hover {
  background-color:rgba(255,255,255,0.8);
  cursor:pointer;
}
.links h3 {
  white-space: nowrap;
  text-align:center;
}

.underline {
  height: 2px;
  transition:1s;
}

.maincontent {
  padding:20px;
}

/*--------------------------- Font Awesome ---------------------------*/
.social-links {
  width: 100%;
  opacity: 0;
  display: none;
}

.algnRight {
  position:relative;
  text-align: right;
  /*vertical-align: bottom;*/
  width:100%;
  height:inherit;
}

.social-links .link-container{
  position: absolute;
  bottom:0;
  right:0;
  text-align: right;
  display:table;
  padding: 40px;
}

.social-links .fa{
  text-align: center;
  text-decoration: none;
  padding: 3px;
  font-size: 20px;
  width: 20px;
  /*height: 90px;*/
  display:table-cell;
  color: #448888;
  transition: 0.5s;
}
.social-links .fa:hover{
  color: rgba(255,255,255,1);
  /*color: #114455;*/
  /*color: #993322;*/
  /*background-color: rgba(255,255,255,0.8);*/
  /*background-color: #114455;*/
  background-color: #DD5522;
  transition: 0.5s;
}

.fa-facebook {

}

.fa-twitter {

}

.fa-linkedin {

}

/*--------------------------- Rotating SVG ----------------------------*/
#piece1 {
  animation-name: ckw;
  animation-duration: 1s;
  transform-origin: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#piece2 {
  animation-name: ckw;
  animation-duration: 2s;
  transform-origin: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#piece3 {
  animation-name: ckw;
  animation-duration: 3.2s;
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-timing-function: linear;
}
#piece4 {
  animation-name: ckw;
  animation-duration: 5s;
  transform-origin: center;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*-------------------------------------------------------------------------*/
/*---------------------- BACKGROUND ELEMENTS ------------------------------*/
/*-------------------------------------------------------------------------*/

.background {
  background: #000010;
  height: 100%;
  width: 100%;
  position:absolute;
  display:block;
  color:white;
  /*display:block;
  position:fixed;
  overflow-x:hidden;
  margin:0 auto;
  z-index:1;*/
}

.chart {
  width: 100%;
  height: 100%;
}

.chart rect {
  fill:steelblue
}
.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

/*-------------------------------------------------------------------------*/
/*-------------------------- D3 TUTORIAL CODE ----------------------------*/
/*-------------------------------------------------------------------------*/

/*Barlines*/
/*.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}*/
