/*----------------------Specifies the CSS for a menubar---------------------*/

.links {
  width:100%;
  margin:0;
  flex: 0 0 auto;
}
 
.links .maincontent {
  /*padding:20px;*/
  line-height: normal !important;
}

nav.links {
  /* background: #114455; */
  background: none;
}

div.row.nav-wrapper ul {
  vertical-align: middle;
}

div.row.nav-wrapper .col {
  padding: 0%;
}

ul.sidenav {
  background-color: #000010;
  z-index: 10;
}

ul.sidenav li {
  z-index: 10;
}

div.sidenav-overlay {
  z-index: 9;
}

.links .linkbar{
  padding:0px
}

.links span {
  padding-right: 80px;
  font-size: 22px;
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
  transition:0.5s;
  line-height: 1.1;
}

.links i {
  padding-right: 10px;
  color: #77EEEE;
  transition:0.5s;
  font-size: 24px;
}

.links .subpagelink {
  background-color:none;
  display: block;
  transition:0.5s;
}
.links .subpagelink:hover span {
  color: #114455;
}
.links .subpagelink:hover i {
  color: #114455;
}

.links .subpagelink:hover {
  background-color:rgba(255,255,255,0.8);
  cursor:pointer;
}

.underline {
  height: 2px;
  transition:1s;
  flex: 0 0 auto;
}


.links h3 {
  white-space: nowrap;
  text-align:center;
  font-size:22  px;
  line-height:100%;
  margin: 0;
}