/*----------------------Specifies the CSS for a menubar---------------------*/

/* Main Navbar */

nav.menubar#main-navbar {
  width:100%;
  margin:0;
  flex: 0 0 auto;
  line-height: normal !important;
  background: none;
  box-shadow: none !important;
}

nav.menubar .nav-wrapper ul {
  width: 100%;
  padding-left: 0px;
}

nav.menubar .nav-wrapper ul li {
  width: inherit;
}

nav.menubar .nav-wrapper ul li a {
  width: 100%
}

/* General Nav Elements */
.menubar .subpagelink {
  background:none;
  transition:0.5s;
}

.menubar .subpagelink span {
  font-size: 22px;
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
  transition:0.5s;
  line-height: 1.1;
}

.menubar .subpagelink i {
  padding-right: 10px;
  color: #77EEEE;
  transition:0.5s;
  font-size: 24px;
}

.menubar .subpagelink h3 {
  white-space: nowrap;
  text-align:left;
  font-size:22px;
  line-height:100%;
  margin: 0;
}

.menubar .subpagelink.home h3{
  text-align:center;
}

.menubar.underline {
  height: 2px;
  transition:1s;
  flex: 0 0 auto;
}

/* Sidenav bar */

.menubar ul.sidenav {
  background-color: #000010;
  z-index: 10;
}

.menubar ul.sidenav li {
  z-index: 10;
  display:grid;
  align-content: center;
}

.menubar ul.sidenav li a {
  display:flex;
  margin: 0 12px;
  padding: 0 16px;
  align-items: center;
}

div.sidenav-overlay {
  z-index: 9; /*Push overlay behind menu*/
}

.menubar .sidenav-trigger {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 !important;
}

/* Animations of hover on menu links */
.menubar .subpagelink:hover {
  background-color: rgba(255,255,255,0.8) !important;
  cursor:pointer;
}

.menubar .subpagelink:hover a {
  background: none !important; /*Override Materialize*/
}

.menubar .subpagelink:hover span {
  color: #114455;
}
.menubar .subpagelink:hover i {
  color: #114455;
}
