.fullwidthImage {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.fullwidthImage img {
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}

.fullwidthImage .imgOverlay {
  position: absolute;
  bottom:50px;
  left:0;
  padding-left: 200px;
  padding-right: 200px;
  width: 100%;
}

.fullwidthImage .title {
  white-space: normal;
  color:#ffffff;
  font-size: 100px;
}

.fullwidthImage .datetime {
  position: relative;
  top:50px;
  left:0;
  color:#ffffff;
  white-space: normal;
  padding-left: 200px;
  padding-right: 200px;
}
.fullwidthImage .datetime .date {
  text-align: left;
  font-size: 20px;
}

.shifter {
}
.shifter .altText {
  position: absolute;
  top:0;
  opacity: 0;
  transition: 0.2s;
}
.shifter:hover .altText {
  opacity: 1;
}
.normText {
  position: absolute;
  top:0;
  opacity: 1;
  transition: 0.2s;
}
.shifter:hover .normText {
  opacity: 0;
}

.content {
  overflow-y: hidden;
}
.scrollFrame {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.scrollNav {
  /* width: 100%; */
  padding-right: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: center;
}
.scrollNav .title {
  color: white;
  text-align: center;
  width: 100%;
}
