.fullwidthImage {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.fullwidthImage img {
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}

.fullwidthImage .imgOverlay {
  position: absolute;
  bottom:50px;
  left:0;
  width: 100%;
}

.fullwidthImage .title {
  white-space: normal;
  color:#ffffff;
  font-size: 100px;
}

.fullwidthImage .subtitle {
    white-space: normal;
    color:#ffffff;
    font-size: 20px;
    padding: 3px;
    /* padding-left: 0em; */
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}


.fullwidthImage .datetime {
  position: relative;
  top:50px;
  left:0;
  color:#ffffff;
  white-space: normal;
  padding-left: 200px;
  padding-right: 200px;
}
.fullwidthImage .datetime .date {
  text-align: left;
  font-size: 20px;
}

.shifter {
}

.shifter .altText {
  position: absolute;
  top:0;
  opacity: 0;
  transition: 0.5s;
}
.shifter:hover .altText {
  opacity: 1;
}
.normText {
  position: absolute;
  top:0;
  opacity: 1;
  transition: 0.5s;
}
.shifter:hover .normText {
  opacity: 0;
}

.content {
  overflow-y: hidden;
}
.MAT {
  overflow-y: auto;
}
.TOC {
  z-index: 10;
}

.scrollFrame {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}

.table-of-contents {
  background-color: rgba(0,0,0,0.1);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  transition: 0.5s;
}

.table-of-contents a{
  color:rgba(150,150,150,0.2);
  font-size:20px;
  font-weight:400;
  transition: 0.5s;
  /* float:right; */
}

.table-of-contents a:hover{
  color:white;
}
.table-of-contents a.active{
  color:rgba(255,255,255,0.25);
  border-left-color: rgba(255,0,0,0.2);
}
.table-of-contents a.active:hover{
  color:white;
}

/* If the contents is hovered over */
.table-of-contents:hover {
  background-color: rgba(0,0,0,0.8);
}
.table-of-contents:hover a{
    color:rgba(150,150,150,0.6);
}
.table-of-contents:hover a.active{
    color:rgba(255,255,255,0.8);
    border-left-color: red;
    border-left-width: thick;
}
.table-of-contents:hover a:hover{
    color:rgba(255,255,225,1);
    transition: 0s;
    border-left-width: thick;
}


.section .title h2{
  white-space: normal;
  color:#ffffff;
  font-size: 40px;
}

.section div.imgBkgnd {
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.section div.para {
  color: white;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.section div.flexy {
  width: 100%;
  text-align: center;
  /* display: inline-flex; */
  flex-direction: column;
  flex-wrap: wrap;
  /* padding: 5px !important; */
  /* padding-top: 0px !important; */
  padding-bottom: 10px;
}

.section .imgTxtContainer {
  flex: 1 0 auto;
  position: relative;
  justify-content: space-between;
  display: inline-block;
  /* margin: 5px; */
  padding:10px;
}

.section .imgTxtContainer img {
  position: relative;
  display: block;
  top:0;
  left:0;
  width: 100%;
  filter:brightness(50%);
}

.section .imgTxtContainer span {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  color: #fff;
  /* text-shadow: 0 0 15px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  padding: 10px;
  /* position:absolute;
  text-align: center;
  top:0;
  left:0;
  width: 100%; */
}

.section div.para div.col {
  /* display: inline-block; */
  position: relative;
}

.section div.para ul,h3,li {
  width: 100%;
  white-space: normal;
}

.section h3 {
  font-size: 2em;
  text-align: center;
  width: 100%;
}
.section li {
  text-align: left;
}

.section .sec-info {
  background-color: rgba(70,130,180,0.4);
}

.section .sec-info .para div {
  text-align: left;
  /* padding-top: 20px; */
}

.section .sec-info .para span {
  white-space: normal;
}

.randPaddingBlock {
  height: 120%;
  width: 100%;
  background-color: rgba(70,130,180,0.4);
}

.textBody {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(70,130,180,0.4);
  padding-top:0;
}

.textBody p {
  padding-left: 20px;
}

.textBody img {
  width: 100%;
}

/* From:q https://stackoverflow.com/questions/39205432/materialize-grid-do-5-columns */
.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s5ths {
  width: 20%;
}

@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}
