{% load static %}
{% load sekizai_tags %}

{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'amy/css/home.css' %}" />
{% endaddtoblock %}

<div class="col-md-2 events" id="events">
  <div class="row account">
    <div class="row buffer"></div>
    <div class="row info">
      {% if user.is_authenticated %}
      <div class="col-md-6">
        Hi {{ user.get_short_name }}!
      </div>
      <div class="col-md-6" id="outbtn">
        <a class="btn btn-info" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
      </div>
      {% else %}
      <div class="row" id="inbtn">
        <a class="btn btn-info" href="{% url 'login'%}?next={{request.path}}">Login</a>
      </div>
      {% endif %}
    </div>
    <div class="row buffer"></div>
  </div>
  <div class="row" id="eventlist">
    {% for event in event_posts %}
      {% if event.isSubpage %}
      <div class="row event_post" id="event{{ forloop.counter0 }}" onclick="control.load_page('{{ forloop.counter0 }}')"> <!-- TODO change naming format.... -->
        {{ event.title }}
      </div>
      {% else %}
        <div class="row event_post" id="{{ event.title }}">
          <a href="{% url 'amy:event' year=event.year month=event.month day=event.day %}" target="_blank"> {{ event.title }} </a>
        </div>
      {% endif%}
    {% endfor %}
  </div>
</div>
<div class="col-md-10 viewport" id="event_page">
  {% include "photaHome/loadmask.html" %}
  {% for event in event_posts %}
    {% if event.isSubpage %}
      <div class="subpage" id="{{ event.year }}{{ event.month }}{{ event.day }}">
      </div>
    {% endif%}
  {% endfor %}
</div>

{% addtoblock "js" %}
<script src="{% static 'amy/js/tabled.js' %}"> //TODO MAKE THIS LIBRARY CALL GENERAL FOR PHOTAHOME </script>
<script>
//On Doc Ready, Set the subpage height to a fixed amount.
var pageBarHeight = $('.links').css('height').replace(/[^-\d\.]/g, '');
var subpageHeight = $(document).height() - (Number.parseFloat(pageBarHeight)+2);
$('#events').css('height', subpageHeight + 'px');
$('#event_page').css('height', subpageHeight + 'px');

//Menu options:
var names = [];
var containerIDs = [];
var urls = [];
var buttonIDs = [];
{% for event in event_posts %}names.push("{{ event.title }}");
urls.push("{% url 'amy:event' year=event.year month=event.month day=event.day %}");
containerIDs.push("{{ event.year }}{{ event.month }}{{ event.day }}");
buttonIDs.push("event{{ forloop.counter0 }}"); {% endfor %}

var control = new tabled(urls,buttonIDs,containerIDs);

$(document).ready(function(){
  // control.load_page(0);
});
</script>

{% endaddtoblock %}
