{% load sekizai_tags static %}
{% addtoblock "css" %}
<!-- Stylesheets External -->
{% if local_cdn %}
<link rel="stylesheet" href="{{ static 'photaHome/cdn/css/fontawesome-v5.0.13-all.css' }}">
<link rel="stylesheet" href="{{ static 'photaHome/cdn/css/materialize-2.0.3-alpha-dist-js-materialize.min.css' }}">
<link rel="stylesheet" href="{{ static 'photaHome/cdn/css/jqueryui-1.12.1-jquery-ui.css' }}">
{% else %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/css/materialize.min.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
{% endif %}

{% comment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/> -->
<!-- integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/ad2d84ce45.css"> -->
{% endcomment %}

{% endaddtoblock %}
