{% load static %}

<html>
<head>
  <title>Photafy</title>

  <!-- Favicon -->
  <!-- <link rel="icon" type="image/png" href="icon3.png"> -->
  <link rel="icon" type="image/png" href="{% static 'photaHome/icon/mg_icon.png' %}"/>

  <!-- Metas-->
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-store"/>

  <!-- Facebook Meta - Used to specify what's shown when this page is linked. -->
  <meta property="og:url"                content="http://photafy.me" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="A collection of Matt Gebert stuff." />
  <meta property="og:description"        content="Hi, this is my space to share stuff Matt is passionate about! I'm a follower of jesus, a physics and electrical engineering student, musician and hobby programmer. Feel free to say hi!" />
  <meta property="og:image"              content="{% static 'Matt_Portrait.jpg' %}" />

  <!-- Twitter Meta -->
  <meta name="twitter:card"              content="summary">
  <meta name="twitter:site"              content="@mattgebert">
  <meta name="twitter:title"             content="A collection of Matt Gebert stuff.">
  <meta name="twitter:description"       content="Hi, this is my space to share stuff Matt is passionate about! I'm a follower of jesus, a physics and electrical engineering student, musician and hobby programmer. Feel free to say hi!">
  <meta name="twitter:image:alt"         content="Portrait Image of Matthew Gebert" />
  <meta name="twitter:image"             content="{% static 'Matt_Portrait.jpg' %}">


  <!-- Stylesheets External -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> <!-- integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" /><!-- integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/ad2d84ce45.css">

  <!-- Stylesheets Internal -->
  <link rel="stylesheet" href="{% static 'photaHome/css/home.css' %}" />

  <!--Extra Fonts: https://fonts.google.com, also https://designshack.net/articles/css/the-10-best-script-and-handwritten-google-web-fonts/-->
  <link href="https://fonts.googleapis.com/css?family=Electrolize|Josefin+Slab|Share+Tech+Mono|Ubuntu:400" rel="stylesheet">

  <!-- Scripts at the bottom! -->
</head>

<body>
  <div class="frames">
    <!--  INFORMATION TEXT -->
    <div class="information">
      <div class="row space"></div>
      <div class="row nameplate">
        <div class="col-md-2"></div>
        <div class="col-md-8 maincontent">
          <div class="row">
            <h1>Matthew Gebert</h1>
          </div>
          <div class="row">
            <h2>Undergraduate Physics + Electrical Engineering</h2>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row space2"></div>
      <div class="row links">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 maincontent">
          {% for name, href, icon in page_apps %}
          <div class="col-xs-3 subpagelink" id="{{ name }}" onclick="location.href = '{{ href }}';" href="{{ href }}">
            <a href="{{ href }}"><h3><i class="{{ icon }}"></i><span>{{ name }}</span></h3></a>
          </div>
          {% endfor %}
        </div>
        <div class="col-xs-2 linkbar sidebars"></div>
      </div>
      <div class="row underline"></div>
      <div class="row social-links">
        <div class="algnRight">
          <div class="link-container">
            {% for profile in profiles %}
            <a href="{{ profile.href }}" class="{{ profile.get_fa_icon }}" target="_blank"></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BACKGROUND -->
  <div class="background">
    <svg class="chart">
    </svg>
  </div>
</div>

<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><!-- integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!--Specific Page Script -->
<script src="{% static 'photaHome/js/home.js' %}"></script>
<script src="{% static 'photaHome/js/sinfunc.js' %}"></script>

<!-- Custom Library -->
<script src="{% static 'customFns.js' %}"></script>

</body>
</html>
