{% load static %}
{% load sekizai_tags %}

{# Add css/js calls to head / endbody #}
{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'photaHome/css/menubar_mat.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono:400" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}
  <script>
    //Content for menubar.js functionality
    //Requires libraries to load first!!
    var menubar_items = [];
    var crnt_pg = -1;
    {% for name, href, icon in page_apps %}
      menubar_items.push("{{ href }}");
      {% if href in request.path %}crnt_pg = {{ forloop.counter0 }};{% endif %}
    {% endfor %}
  </script>
  
  {% comment %} {% if HOME_ON %} {% endcomment %}
  <script src="{% static 'photaHome/js/menubar_mat.js' %}" ></script>
  {% comment %} {% endif %} {% endcomment %}
{% endaddtoblock %}

<!-- Generalized Menubar -->
{% block menubar %}

{% comment %} ------------------------------ {% endcomment %}
{% comment %} Menubar, build with nav class. {% endcomment %}
{% comment %} ------------------------------ {% endcomment %}

{% comment %} Sidenav defined in other file. Requires custom include. {% endcomment %}
{% comment %} {% include "photaHome/menubar_sidenav_mat.html" %} {% endcomment %}

{% comment %} <div class="navbar-fixed"> {% endcomment %}
<nav id="main-navbar" class="menubar">
  <div class="nav-wrapper row">

    {% comment %} Generate spacing for homepage. {% endcomment %}
    {% if not HOME_ON %}
    <div class="col s2"></div>
    {% endif %}

    <a href="#!" data-target="mobile-sidebar" class="sidenav-trigger subpagelink">
      <h3><i class="fas fa-bars"></i><span>Dive deeper</span></h3>
    </a>
    
    {% comment %} Generate spacing for top nav bar, or homepage. {% endcomment %}
    {% if not HOME_ON %}
    <div class="col s8 links">
    {% else %}
    <div class="col s12 links">
    {% endif %}

      <ul class="left hide-on-med-and-down row">
        <!-- Generate link for Homepage if on subpage. -->  
        {% if HOME_ON %}
          <li class="col l1 m1 s2 subpagelink home">
              <a href="{% url 'photaHome:home' %}">
                <h3><i class="fa fa-home"></i></h3>
              </a>
          </li>
        {% endif %}
        {% for name, href, icon in page_apps %}
        <li class="col l2 m2 s5 subpagelink" id="menubar-{{ href }}">
        <a href="/{{ href }}">
          <h3><i class="{{ icon }}"></i><span>{{ name }}</span></h3>
        </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    
    {% comment %} Generate spacing for homepage {% endcomment %}
    {% if not HOME_ON %}
    <div class="col s2"></div>
    {% endif %}
  </div>
</nav>
{% comment %} </div> {% endcomment %}

{% if HOME_ON %}
  <div class="row underline menubar"></div>
{% endif %}

{% endblock %}
<!-- End Generalized Menubar -->