<html>
<head>
  <title>Hey Amy!</title>

  <!-- Metas-->
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-store"/>


  {% load static %}
  {% load sekizai_tags %}

  <!-- Stylesheets Internal -->
  <link rel="stylesheet" href="{% static 'amy/events/2017-02-14/amy.css' %}"/>
  {% include "photaHome/_css_external.html"%}
  {% render_block "css" %}

  <!--Extra Fonts: https://fonts.google.com, also https://designshack.net/articles/css/the-10-best-script-and-handwritten-google-web-fonts/-->
  <link href="https://fonts.googleapis.com/css?family=Bahiana|Barrio|Caveat+Brush|Raleway|Indie+Flower" rel="stylesheet">

  <!-- Scripts at the bottom! -->
</head>

<body style = 'background:url("{% static "amy/events/2017-02-14/lost.jpg" %}") no-repeat center center  fixed;'>
  <div class="frame">
    <div class="row buffer"></div>
    <!--  INFORMATION TEXT -->
    <div class="row msg">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="msg-centre">
          <div class="row">
            <span class="msg-title">Happy Valentines Day Amy!</span>
          </div>
          <div class="row" style="padding-top:20px; overflow-y: scroll; overflow-x:hidden; margin-right:0px">
            <!-- <div class="col-sm-1"></div> -->
            <div class="col-sm-1">
              <div class="div-line"></div>
            </div>
            <div class="col-sm-10">
                <div class="row" style="text-align:left">
                  <span class="msg-para"></span>
                </div>
                <div class="row" style="text-align:right">
                  <span class="msg-signature">Matthew Gebert</span>
                </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame algnFrame" id="load_frame">
    <div class="algnMiddle">
      <div class="algnInner">
        <svg class="loadimg" viewBox="0 0 200 200" preserveAspectRatio="xMidYMid" class="uil-pie">
          <rect x="0" y="0" width="200" height="200" fill="#ffffff" class="bk" style="fill: rgba(255, 255, 255, 0);"></rect>
          <path id="piece1" d="M0, 100A100, 100, 0, 0, 1, 100, 0L100, 100L0, 100" fill="#000" opacity="0.5" style="fill: rgb(255, 169, 206);"></path>
          <path id="piece2" d="M100, 0A100, 100, 0, 0, 1, 200, 100L100, 100L100, 0" fill="#000" opacity="0.5" style="fill: rgb(255, 115, 149);"></path>
          <path id="piece3" d="M200, 100A100, 100, 0, 0, 1, 100, 200L100, 100L200, 100" fill="#000" opacity="0.5" style="fill: rgb(255, 38, 100);"></path>
          <path id="piece4" d="M100, 200A100, 100, 0, 0, 1, 0, 100L100, 100L100, 200" fill="#000" opacity="0.5" style="fill: rgb(185, 184, 190);"></path>
        </svg>
      </div>
    </div>
  </div>


  <script src="{% static 'amy/events/2017-02-14/amy.js' %}"></script>
  {% include "photaHome/_js_scripts.html"%}
  {% render_block "js" %}
</body>
</html>
