{% load static %}
{% load sekizai_tags %}

{% addtoblock 'css' %}
<link rel="stylesheet" href="{% static 'photaHome/css/subpage.css' %}" />
{% endaddtoblock %}

<div class="scrollFrame">
  <div class="fullwidthImage">
    <img src="{% static 'amy/events/2017-02-14/lost.jpg' %}" /> <!-- TODO: Change image -->
    <div class="row datetime">
      <div class="col s10"></div>
      <div class="col s2 date shifter">
        <div class="altText">Modified date! =) </div>
        <div class="normText">{{ subpage.date_modified|date:'l, d F Y' }}</div>
      </div>
    </div>
    <div class="row imgOverlay">
      <div class="row title">
        {{ subpage.title }}
      </div>
    </div>
  </div>
</div>

<div class="scrollFrame valign-wrapper">
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#structure">Structure</a></li>
        <li><a href="#initialization">Intialization</a></li>
      </ul>
    </div>
  </div>
</div>

{% addtoblock 'js' %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.scrollspy');
    var instances = M.ScrollSpy.init(elems, {}});
  });
</script>

{% endaddtoblock%}
