{% load static %}
{% load sekizai_tags %}

{% addtoblock 'css' %}
<link rel="stylesheet" href="{% static 'photaPhysics/css/home.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Electrolize|Josefin+Slab|Share+Tech+Mono|Ubuntu:400" rel="stylesheet">
{% endaddtoblock %}


<div class="svgContainer">
  <svg class="lattice">
  </svg>
</div>
<div class="overlayContainer">
  <div class="row">
    <div class="col m4">
      <div class="projBubble">
        <h1>Thin oxides on graphene</h1>
      </div>
    </div>
    <div class="col m4">
      <div class="projBubble">
        <h1>Twisted graphene</h1>
      </div>
    </div>
    <div class="col m4">
      <div class="projBubble">
        <h1>Cold atoms</h1>
      </div>
    </div>
  </div>
</div>

{% addtoblock 'js' %}
<script src="https://unpkg.com/topojson@3"></script>
<script src='{% static "photaPhysics/js/svgBgs/hexgrid2.js" %}'></script>
{% endaddtoblock%}
